# =========================

# Build folders

# =========================

bin/
obj/

# =========================

# Visual Studio

# =========================

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# =========================

# VS Code / Rider

# =========================

.vscode/
.idea/

# =========================

# Logs

# =========================

*.log

# =========================

# OS files

# =========================

.DS_Store
Thumbs.db

# =========================

# .NET / ASP.NET Core

# =========================

*.db
*.sqlite
*.cache
*.pdb

# =========================

# Entity Framework

# =========================

*.mdf
*.ldf

# =========================

# Publish

# =========================

publish/
wwwroot/dist/


# =========================

# Temporary files

# =========================

*.tmp
*.temp

# =========================

# Compressed files

# =========================

*.zip
*.rar

# =========================

# Node 

# =========================

node_modules/

# =========================

# Coverage

# =========================

coverage/
